<%= form_for :events, url: events_path do |f| %>
    <p>
      Названия<br>
      <%= f.text_field :event_name %>
    </p>
    <p>
      Дата и время события<br>
      <%= f.datetime_select :event_data %>
    </p>
    <p>
      Повторять событие:<br>
      <%= f.select(:period, [['Не повторять', 0], ['Каждый день', 1], ['Каждую неделю', 2],['Каждый месяц', 3], ['Каждый год', 4]]) %>
    </p>
    <input id="events_false" name="events[user]" value="<%= current_user.id %>" type="hidden">


    <p>
      <%= f.submit %>
    </p>
<% end %>