<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<p></p>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="row">
    <% if user_signed_in? %>
    <div class="col-md-8"><%= current_user.email %></div>
    <div class="col-md-4">
      <p class="navbar-text navbar-right"><span style='margin:1px 2px;'><%= link_to 'Изменить профиль', edit_user_registration_path  %></span>
       <span style='margin:1px 21px;'><%= link_to "Выйти", destroy_user_session_path, method: :delete  %></span></p>
    <% else %>
        <p class="navbar-text navbar-right"><span style='margin:1px 45px;'><%= link_to "Зарегистрироваться", new_user_registration_path ,:class => 'btn btn-success'  %></span>
         </p>
    <% end %>


    </div>
  </div>
</nav>

<%= yield %>
</div>
</body>
</html>
